q1 prtint the following pattern
sudh 
sudh sudh 
sudh sudh sudh 
sudh sudh sudh sudh

In [1]:
n=4
for i in range(n):
    for j in range(i+1):
        print("sudh",end=" ")
    print()

sudh
sudh sudh
sudh sudh sudh
sudh sudh sudh sudh

In [ ]:
q2 print the following pattern

In [212]:
n=4
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"), end=" ")
    for j in range(i+1):
        print("sudh", end=" ")
    for j in range(i):
        print("sudh", end=" ")
    print()

               sudh
          sudh sudh sudh
     sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh

In [2]:
l = [[1,2,3,4], (2,3,4,5,6), (3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron", "data science"]]

In [3]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

q3 try to extract all the list entity

In [4]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

q4: try to extract all the dict entities

In [5]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

q5: try to extract all the tuple entities

In [6]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

q6: try to extract all the numerical data it may be part of dict key and values

In [7]:
for i in l:
    if type(i) == dict:
        for x,y in i.items():
            if type(x)==int or type(y)==int:
                print(x,":", y)

3 : 6
7 : 8

q7 : try to give summation of all the numerical data

In [67]:
lsum = []
for i in l:
    if type(i) == list or tuple or set or dict:
        for j in i:
            if type(j) == int:
                    lsum.append(j)
lsum
sum = 0
for i in lsum:
    if i+i:
        sum= sum+i
print("Summation of the numbers in the list: ",sum)

Summation of the numbers in the list:  142

q8 : Try to filter out all the odd values out all numeric data which is part of list

In [31]:
print("the odd number in the list: ")
for i in l:
    if type(i)==list or tuple or set:
        for j in i:
            if type(j)==int:
                if j%2!=0:
                    print(j)

the odd number in the list:
1
3
3
5
3
5
7
45
5
23
3
7

q9: try to extract "ineuron" out of this data

In [68]:
for i in l:
    if "ineuron" in i:
        print("Extracion of ineuron in the list:",i[0])

Extracion of ineuron in the list: ineuron

q10.try to find out a number of occurances in the data

In [202]:
lmul = []
for i in l:
    if type(i) == list or tuple or set or dict:
        for j in i:
            if type(j) == int:
                lmul.append(j)
lmul
occur = []
for i in lmul:
    if i not in occur:
        occur.append(i)
occur

[1, 2, 3, 4, 5, 6, 7, 45, 23]

q11.try to find number of keys in dict element

In [97]:
print("the number of keys in dict element :", num)
num = 0
for i in l:
    if type(i)==dict:
        for j in i:
            num+=1
            print(j)

the number of keys in dict element : 5
k1
k2
k3
3
7

12.Try to filter out all the string Data

In [79]:
print("These are the string data in the list :")
for i in l:
    if type(i)==list or dict:
        for j in i:
            if type(j) != int:
                print(j)

These are the string data in the list :
k1
k2
k3
ineuron
data science

q13 try to find alphanum in data

In [37]:
for i in l:
    if type(i)==dict:
        for j in i:
            if type(j)!=int:
                print(j)

k1
k2
k3

q14.try to find out multiplication of all numeric values in the individual collection inside the dataset

In [201]:
lup=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                lup.append(j)
lup
mul=1
print("The multiplication of numbers in list:")
for i in lup:
    mul = mul*i
print(mul)

The multiplication of numbers in list:
901393920000

q15:try to unwrape all the collection inside collection and create a flat list

In [39]:
lwrp = []
for i in l:
    if type(i)==list or dict or set or tuple:
        for j in i:
            if type(j)==list or dict or set or tuple:
                lwrp.append(j)
lwrp

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'ineuron',
 'data science']