# TASK-4

q1 : Try to print a prime number in between 1 to 1000

In [75]:
def prime_number():
    l = []
    for i in range(1,1000):
        for j in range(2,i):
            if i%j==0:
                break
        else:
            l.append(i)
    return l

In [76]:
prime_number()

[1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997]

q2 : Try to write a function which  is equivalent  to print function in python

In [74]:
def prints(*a):
    if type(a) == str or type(a) == list or type(a) == int or type(a) == tuple:
        return a

In [77]:
prints(1,"shashi",(1,2,3,4,9),[1,2,34,5,6])

(1, 'shashi', (1, 2, 3, 4, 9), [1, 2, 34, 5, 6])

In [73]:
print(1,"shashi")

1 shashi

q3 : Try to write a function which is a replica of list append , extend and pop function

In [6]:
def appends(a):
    l = []
    if type(a) == tuple or type(a) == list or type(a) == str:
            l.append(a)
    return l

In [7]:
ls = ["shashi"]
appends(ls)

[['shashi']]

In [8]:
appends([[1,2,3,4,5],(1,2,3,4,5),"shashi"])

[[[1, 2, 3, 4, 5], (1, 2, 3, 4, 5), 'shashi']]

In [10]:
def pops(a):
    for i in list(a):
        a.pop()
    return i

In [11]:
pops([1,2,3,4,5,7])

7

In [12]:
ls1= ["shashi","divya",(1,2,3,4,5),[1,2,3,4,"iNeuron"],(1,2,3,5,6)]

In [13]:
pops(ls1)

(1, 2, 3, 5, 6)

In [14]:
def extends(a,b):
    l = [a]
    if type(a) == list:
        l.extend(b)
    return l

In [15]:
shashi = ["shashi"]
extends([1,2,3,4],["shashi"])

[[1, 2, 3, 4], 'shashi']

q4 : Try to write a lambda function which can return a concatination of all the string that we will pass

In [4]:
concat = lambda x,y: x.title() + y.upper()

In [5]:
concat("shashi","divya")

'ShashiDIVYA'

q5 : Try to write a lambda function which can return list of square of all the data between 1-100

In [82]:
num = range(1,100)
lis = map(lambda x:x**2,num)

In [84]:
print(list(lis))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

q6 : Try to write a 10 Different different example of lambda function with a choice of your taks

In [18]:
g = lambda x:x+3

In [19]:
g(2)

5

In [29]:
text = lambda x:str(x.upper())

In [30]:
text("shashi")

'SHASHI'

In [49]:
lis = lambda x,y: x+y

In [50]:
lis([1,2,3,4,5,6],["shashi","divya"])

[1, 2, 3, 4, 5, 6, 'shashi', 'divya']

In [63]:
dic = lambda x,y: {x:y}

In [66]:
dic("Name","Shashi")

{'Name': 'Shashi'}

In [100]:
sfamily = ["Shankar","Sarojana","Shashi","Divya","Karthik","Dharani","Honey","Shreshta"]

In [112]:
sfamily.sort(key=lambda x:x.split(" ")[-1].lower(),reverse=False)

In [108]:
sfamily

['Dharani',
 'Divya',
 'Honey',
 'Karthik',
 'Sarojana',
 'Shankar',
 'Shashi',
 'Shreshta']

In [132]:
mx = lambda x,y:x if x > y else y

In [133]:
mx(10,23)

23

In [140]:
zx = lambda x: x%2==0 if x else "oops"

In [142]:
zx(11)

False

In [143]:
num = [1,2,3,4,5,6]
print(list(map(lambda x:x*2,num)))

[2, 4, 6, 8, 10, 12]

In [152]:
nums = [9,7,8,9,3,4,6,7,8,9]
res = filter(lambda x: x%2!=0,nums)
print(set(res))

{9, 3, 7}

In [155]:
import functools

In [158]:
a = [9,10,11,12]
print(functools.reduce(lambda x,y:x+y,a))
print(functools.reduce(lambda x,y: x if x<y else y,a))

42
9

q7 : Try to write a funtion whihc can perform a read operation from .txt file

In [15]:
def read_file(a):
    f = open(a,"r")
    print(f.read())
    f.close()

In [17]:
a = "readfile.txt"
read_file(a)

i am shashi learning python at iNeuron....