In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Agent_Login_Report.xls")

In [104]:
#df['Date']=pd.to_datetime(df['Date'])
#df['Logout Time']=pd.to_datetime(df['Logout Time'])
#df['Login Time']=pd.to_datetime(df['Login Time'])
#df['Duration']=pd.to_datetime(df['Duration'],errors='coerce')

In [159]:
import datetime
dfp['Week']=pd.to_datetime(dfp['Date']).dt.isocalendar().week
dfp['Average Response Time'] = pd.to_datetime(dfp['Average Response Time'],infer_datetime_format=True)
dfp['Average Resolution Time'] = pd.to_datetime(dfp['Average Resolution Time'],infer_datetime_format=True)

1.Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [134]:
dfp[dfp['Total Chats']>0][['Agent Name','Average Rating','Date','Week']].groupby(['Agent Name', 'Week'])['Average Rating'].mean().drop_duplicates().head(50)

Agent Name           Week
Aditya Shinde        26      3.850000
                     27      4.516000
                     28      4.746000
Aditya_iot           27      4.315000
                     28      4.100000
                     29      4.360000
                     30      3.886000
Ameya Jain           27      4.000000
                     28      4.256000
                     29      4.464000
                     30      4.747500
Anirudh              27      2.224000
                     28      4.115000
Ankitjha             27      5.000000
                     30      1.500000
Anurag Tiwari        27      2.750000
Aravind              27      4.867500
                     28      4.598000
                     29      4.596000
Ashad Nasim          27      2.500000
Ayushi Mishra        26      4.330000
                     27      4.512000
                     28      4.084000
                     29      4.250000
                     30      4.614000
Bharath              26      4.835000
                     27      4.552000
                     28      4.663333
                     29      4.756000
                     30      4.827500
Boktiar Ahmed Bappy  26      4.720000
                     27      4.610000
                     28      4.462500
                     29      3.792857
                     30      3.470000
Chaitra K Hiremath   30      4.188000
Deepranjan Gupta     26      4.230000
                     27      4.220000
                     28      4.587500
                     30      4.615000
Dibyanshu            27      0.000000
Harikrishnan Shaji   27      3.135000
                     28      4.530000
                     29      4.480000
                     30      4.320000
Hrisikesh Neogi      26      4.370000
                     27      4.668000
                     28      4.442000
                     29      4.608000
                     30      4.190000
Name: Average Rating, dtype: float64

In [122]:
dfp = pd.read_excel("AgentPerformance.xlsx",engine='openpyxl')

2.Total working days for each agents

In [75]:
dfp[dfp['Total Chats']>0][['Agent Name']].value_counts()

Agent Name
Shivananda Sonwane        28
Khushboo Priya            26
Boktiar Ahmed Bappy       26
Manjunatha A              25
Jawala Prakash            25
Ayushi Mishra             24
Madhulika G               24
Ishawant Kumar            24
Sanjeev Kumar             23
Nishtha Jain              23
Shivan K                  22
Prerna Singh              22
Shubham Sharma            21
Jaydeep Dixit             21
Rishav Dash               21
Deepranjan Gupta          21
Nandani Gupta             21
Hrisikesh Neogi           21
Maitry                    20
Harikrishnan Shaji        19
Bharath                   19
Mahesh Sarade             18
Mithun S                  18
Prabir Kumar Satapathy    17
Prateek _iot              17
Aditya_iot                17
Swati                     17
Wasim                     16
Zeeshan                   16
Ameya Jain                15
Aravind                   14
Saikumarreddy N           13
Aditya Shinde             12
Sowmiya Sivakumar          9
Jayant Kumar               8
Shiva Srivastava           7
Anirudh                    7
Chaitra K Hiremath         6
Muskan Garg                5
Vivek                      5
Saurabh Shukla             4
Mukesh Rao                 3
Sandipan Saha              3
Ankitjha                   3
Maneesh                    3
Ashad Nasim                2
Anurag Tiwari              2
Sudhanshu Kumar            2
Suraj S Bilgi              2
Mukesh                     2
Samprit                    1
Shivan_S                   1
Dibyanshu                  1
Hitesh Choudhary           1
Tarun                      1
Mahak                      1
dtype: int64

3.Total query that you hvae taken

In [67]:
dfp[dfp['Total Chats']>0].groupby('Agent Name')['Total Chats'].agg(sum)

Agent Name
Aditya Shinde             277
Aditya_iot                231
Ameya Jain                322
Anirudh                    81
Ankitjha                    5
Anurag Tiwari               4
Aravind                   366
Ashad Nasim                18
Ayushi Mishra             514
Bharath                   369
Boktiar Ahmed Bappy       452
Chaitra K Hiremath         64
Deepranjan Gupta          493
Dibyanshu                   1
Harikrishnan Shaji        381
Hitesh Choudhary            1
Hrisikesh Neogi           578
Ishawant Kumar            338
Jawala Prakash            439
Jayant Kumar              127
Jaydeep Dixit             512
Khushboo Priya            446
Madhulika G               469
Mahak                       7
Mahesh Sarade             364
Maitry                    542
Maneesh                     4
Manjunatha A              413
Mithun S                  503
Mukesh                     19
Mukesh Rao                  5
Muskan Garg                56
Nandani Gupta             560
Nishtha Jain              373
Prabir Kumar Satapathy    299
Prateek _iot              190
Prerna Singh              401
Rishav Dash               409
Saikumarreddy N           364
Samprit                     1
Sandipan Saha              30
Sanjeev Kumar             507
Saurabh Shukla             16
Shiva Srivastava           53
Shivan K                  357
Shivan_S                    7
Shivananda Sonwane        441
Shubham Sharma            510
Sowmiya Sivakumar         206
Sudhanshu Kumar             2
Suraj S Bilgi              28
Swati                     524
Tarun                      22
Vivek                      44
Wasim                     433
Zeeshan                   542
Name: Total Chats, dtype: int64

 4. how many feedaback agents have received more then 4.5 average

In [64]:
#dfp.loc[:,['Agent Name','Total Chats']].value_counts()
dfp[dfp['Total Chats']>0].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde             153
Aditya_iot                131
Ameya Jain                228
Anirudh                    39
Ankitjha                    3
Anurag Tiwari               3
Aravind                   233
Ashad Nasim                 9
Ayushi Mishra             329
Bharath                   247
Boktiar Ahmed Bappy       311
Chaitra K Hiremath         37
Deepranjan Gupta          312
Dibyanshu                   0
Harikrishnan Shaji        231
Hitesh Choudhary            0
Hrisikesh Neogi           367
Ishawant Kumar            202
Jawala Prakash            250
Jayant Kumar               70
Jaydeep Dixit             305
Khushboo Priya            289
Madhulika G               281
Mahak                       5
Mahesh Sarade             216
Maitry                    347
Maneesh                     3
Manjunatha A              254
Mithun S                  364
Mukesh                     17
Mukesh Rao                  5
Muskan Garg                37
Nandani Gupta             308
Nishtha Jain              257
Prabir Kumar Satapathy    222
Prateek _iot              107
Prerna Singh              235
Rishav Dash               264
Saikumarreddy N           290
Samprit                     0
Sandipan Saha              18
Sanjeev Kumar             311
Saurabh Shukla              8
Shiva Srivastava           46
Shivan K                  243
Shivan_S                    4
Shivananda Sonwane        263
Shubham Sharma            300
Sowmiya Sivakumar         141
Sudhanshu Kumar             2
Suraj S Bilgi              15
Swati                     302
Tarun                       6
Vivek                      20
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

5.a agent name who have average rating between 3.5 to 4.5

In [101]:
dfp[(dfp['Total Feedback']>3.5) & (dfp['Total Feedback']<4.5)]['Agent Name'].drop_duplicates()

67         Boktiar Ahmed Bappy
75                 Muskan Garg
76               Prateek _iot
85          Chaitra K Hiremath
86               Suraj S Bilgi
213         Shivananda Sonwane
428                    Maitry
574             Jawala Prakash
859             Ishawant Kumar
863           Deepranjan Gupta
1079              Nishtha Jain
1080             Sandipan Saha
1081            Khushboo Priya
1241             Mahesh Sarade
1247    Prabir Kumar Satapathy
1308              Prerna Singh
1604             Jaydeep Dixit
1725              Jayant Kumar
1732                 Shivan_S
2087              Manjunatha A
Name: Agent Name, dtype: object

6.Agent name who have rating lesss then 3.5

In [58]:
dfp[dfp['Average Rating'] < 3.5]['Agent Name'].drop_duplicates()

1             Nandani Gupta
19         Hitesh Choudhary
20               Sanjeevan
21                 Anirudh
22         Shiva Srivastava
               ...
210             Madhulika G
215     Boktiar Ahmed Bappy
538        Deepranjan Gupta
644          Ishawant Kumar
1180     Shivananda Sonwane
Name: Agent Name, Length: 70, dtype: object

7.agent name who have rating more then 4.5

In [95]:
dfp[dfp['Total Feedback'] > 4.5].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde             153
Aditya_iot                123
Ameya Jain                227
Anirudh                    34
Aravind                   232
Ashad Nasim                 7
Ayushi Mishra             324
Bharath                   247
Boktiar Ahmed Bappy       297
Chaitra K Hiremath         32
Deepranjan Gupta          301
Harikrishnan Shaji        230
Hrisikesh Neogi           367
Ishawant Kumar            182
Jawala Prakash            236
Jayant Kumar               59
Jaydeep Dixit             301
Khushboo Priya            277
Madhulika G               270
Mahak                       5
Mahesh Sarade             208
Maitry                    341
Manjunatha A              244
Mithun S                  362
Mukesh                     17
Muskan Garg                31
Nandani Gupta             308
Nishtha Jain              239
Prabir Kumar Satapathy    207
Prateek _iot               96
Prerna Singh              224
Rishav Dash               264
Saikumarreddy N           290
Sandipan Saha              13
Sanjeev Kumar             309
Shiva Srivastava           44
Shivan K                  239
Shivananda Sonwane        245
Shubham Sharma            300
Sowmiya Sivakumar         141
Suraj S Bilgi              11
Swati                     302
Tarun                       6
Vivek                      12
Wasim                     284
Zeeshan                   335
Name: Total Feedback, dtype: int64

8.how many feedaback agents have received more then 4.5 average

In [63]:
dfp[(dfp['Average Rating'] > 4.5)].groupby('Agent Name')['Total Feedback'].agg(sum)

Agent Name
Aditya Shinde              73
Aditya_iot                 43
Ameya Jain                150
Anirudh                     2
Ankitjha                    1
Aravind                   178
Ayushi Mishra              75
Bharath                   231
Boktiar Ahmed Bappy        52
Chaitra K Hiremath          5
Deepranjan Gupta           83
Harikrishnan Shaji         80
Hrisikesh Neogi           183
Ishawant Kumar             79
Jawala Prakash             33
Jayant Kumar                7
Jaydeep Dixit             179
Khushboo Priya            134
Madhulika G                67
Mahesh Sarade              46
Maitry                     81
Manjunatha A              132
Mithun S                   93
Mukesh                     17
Mukesh Rao                  1
Muskan Garg                14
Nandani Gupta              91
Nishtha Jain               18
Prabir Kumar Satapathy     53
Prateek _iot               54
Prerna Singh               82
Rishav Dash                27
Saikumarreddy N           184
Sandipan Saha               1
Sanjeev Kumar             164
Saurabh Shukla              3
Shiva Srivastava            2
Shivan K                  130
Shivananda Sonwane        154
Shubham Sharma            155
Sowmiya Sivakumar          16
Sudhanshu Kumar             2
Suraj S Bilgi               4
Swati                     103
Vivek                       3
Wasim                     156
Zeeshan                    48
Name: Total Feedback, dtype: int64

9.average weekly response time for each agent

In [156]:
dfp[dfp['Total Chats']>0].groupby(['Agent Name','Week'])['Average Response Time'].mean().head(20)

Agent Name     Week
Aditya Shinde  26     2022-07-31 00:01:23.000000000
               27     2022-07-31 00:01:06.200000000
               28     2022-07-31 00:01:19.000000000
Aditya_iot     27     2022-07-31 00:01:10.500000000
               28     2022-07-31 00:01:12.800000000
               29     2022-07-31 00:00:42.200000000
               30     2022-07-31 00:01:00.600000000
Ameya Jain     27     2022-07-31 00:00:00.000000000
               28     2022-07-31 00:00:45.600000000
               29     2022-07-31 00:00:41.600000000
               30     2022-07-31 00:00:49.500000000
Anirudh        27     2022-07-31 00:01:48.400000000
               28     2022-07-31 00:00:55.500000000
Ankitjha       27     2022-07-31 00:00:00.000000000
               30     2022-07-31 00:01:06.500000000
Anurag Tiwari  27     2022-07-31 00:02:06.500000000
Aravind        27     2022-07-31 00:00:36.750000128
               28     2022-07-31 00:00:47.800000000
               29     2022-07-31 00:00:51.000000000
Ashad Nasim    27     2022-07-31 00:09:39.500000000
Name: Average Response Time, dtype: datetime64[ns]

10 . average weekely resolution time for each agents

In [160]:
dfp[dfp['Total Chats']>0].groupby(['Agent Name','Week'])['Average Resolution Time'].mean().head(20)

Agent Name     Week
Aditya Shinde  26     2022-07-31 00:23:10.500000000
               27     2022-07-31 00:21:05.400000000
               28     2022-07-31 00:31:42.200000000
Aditya_iot     27     2022-07-31 00:18:04.500000000
               28     2022-07-31 00:21:15.400000000
               29     2022-07-31 00:15:41.000000000
               30     2022-07-31 00:14:45.600000000
Ameya Jain     27     2022-07-31 00:01:47.000000000
               28     2022-07-31 00:11:17.200000000
               29     2022-07-31 00:11:37.000000000
               30     2022-07-31 00:11:59.249999872
Anirudh        27     2022-07-31 00:11:23.000000000
               28     2022-07-31 00:17:54.500000000
Ankitjha       27     2022-07-31 00:21:22.000000000
               30     2022-07-31 00:02:56.000000000
Anurag Tiwari  27     2022-07-31 00:18:29.000000000
Aravind        27     2022-07-31 00:18:09.000000000
               28     2022-07-31 00:20:11.600000000
               29     2022-07-31 00:18:50.600000000
Ashad Nasim    27     2022-07-31 00:05:14.000000000
Name: Average Resolution Time, dtype: datetime64[ns]

11.list of all agents name

In [79]:
df.Agent.drop_duplicates()

0          Shivananda Sonwane
1              Khushboo Priya
2               Nandani Gupta
3             Hrisikesh Neogi
4                     Mukesh
5           Sowmiya Sivakumar
6                Manjunatha A
7          Harikrishnan Shaji
8               Suraj S Bilgi
9                    Shivan K
10              Anurag Tiwari
11             Ishawant Kumar
13             Shubham Sharma
15               Prerna Singh
20               Nishtha Jain
21              Prateek _iot
27                   Mithun S
32                Madhulika G
33        Boktiar Ahmed Bappy
34             Jawala Prakash
35                 Dibyanshu
48           Deepranjan Gupta
50              Jaydeep Dixit
54              Ayushi Mishra
55              Mahesh Sarade
56                Muskan Garg
58         Chaitra K Hiremath
61           Shiva Srivastava
72                Aditya_iot
82     Prabir Kumar Satapathy
93              Sanjeev Kumar
96                   Zeeshan
128               Rishav Dash
130                    Wasim
131                  Bharath
201                Ameya Jain
202           Saikumarreddy N
209                  Aravind
216                   Amersh
316           Sudhanshu Kumar
331                 Ankitjha
400                   Maitry
402             Aditya Shinde
481               Hyder Abbas
514                    Swati
695            Saurabh Shukla
764                   Nitin M
986     Ineuron Intelligence
999                    Tarun
Name: Agent, dtype: object

11.list of all agents name from the second

In [85]:
#dfp['Agents'] = dfp['Agent Name']
dfp.Agents.drop_duplicates()

0            Prerna Singh
1           Nandani Gupta
2              Ameya Jain
3           Mahesh Sarade
4                  Swati
             ...
67    Boktiar Ahmed Bappy
68     Shivananda Sonwane
69         Ishawant Kumar
70       Deepranjan Gupta
71         Jawala Prakash
Name: Agents, Length: 70, dtype: object

12.percentage of chat on which they have received a feedback

In [166]:
dfp['Cumulative_Total_Chats'] = dfp['Total Chats']/dfp['Total Chats'].sum()

In [173]:
dfp[dfp['Total Feedback']>0][['Agent Name','Total Chats', 'Cumulative_Total_Chats','Total Feedback']]

              Agent Name  Total Chats  Cumulative_Total_Chats  Total Feedback
0           Prerna Singh           11                0.000747               9
1          Nandani Gupta           11                0.000747               7
2             Ameya Jain           14                0.000951              11
3          Mahesh Sarade           14                0.000951               7
4                 Swati            14                0.000951               6
...                  ...          ...                     ...             ...
2101       Jaydeep Dixit           25                0.001698              13
2102  Shivananda Sonwane           23                0.001563              14
2103      Khushboo Priya           24                0.001630              18
2104     Hrisikesh Neogi           15                0.001019               9
2105              Tarun            22                0.001495               6

[731 rows x 4 columns]

13.Total contributation hour for each and every agents weekly basis

In [180]:
import datetime
df['Week']=pd.to_datetime(df['Date']).dt.isocalendar().week
df['Duration']=pd.to_datetime(df['Duration'],errors='coerce')

In [183]:
df.groupby(['Agent','Week'])['Duration'].mean().head(20)

Agent                Week
Aditya Shinde        30     2022-07-31 00:02:10.000000000
Aditya_iot           29     2022-07-31 02:01:54.333333504
                     30     2022-07-31 01:36:21.500000000
Amersh               30     2022-07-31 00:45:57.500000000
Ameya Jain           29     2022-07-31 03:26:25.571428608
                     30     2022-07-31 05:59:50.999999744
Ankitjha             30     2022-07-31 00:34:00.249999872
Anurag Tiwari        29     2022-07-31 00:03:58.000000000
                     30     2022-07-31 00:04:34.303030272
Aravind              29     2022-07-31 03:01:46.000000000
                     30     2022-07-31 00:01:54.500000000
Ayushi Mishra        29     2022-07-31 03:33:29.000000000
                     30     2022-07-31 01:33:50.230769408
Bharath              29     2022-07-31 04:48:51.000000000
                     30     2022-07-31 06:00:05.249999872
Boktiar Ahmed Bappy  29     2022-07-31 03:33:00.200000000
                     30     2022-07-31 01:52:35.500000000
Chaitra K Hiremath   29     2022-07-31 01:07:02.500000000
                     30     2022-07-31 02:55:02.454545408
Deepranjan Gupta     29     2022-07-31 01:53:04.115384576
Name: Duration, dtype: datetime64[ns]

14.total percentage of active hour for a month

In [197]:
df['Login Time'] = pd.to_datetime(df['Login Time'])
df['Month']=pd.to_datetime(df['Date']).dt.month

In [203]:
df.groupby(['Agent','Month'])[['Login Time','Duration']].mean().head(20)

,,Login Time,Duration
Agent,Month,,
Aditya Shinde,7,2022-07-31 20:17:35.000000000,2022-07-31 00:02:10.000000000
Aditya_iot,7,2022-07-31 18:10:50.555555584,2022-07-31 01:44:52.444444416
Amersh,7,2022-07-31 13:41:48.249999872,2022-07-31 00:45:57.500000000
Ameya Jain,7,2022-07-31 16:48:58.400000000,2022-07-31 04:12:27.200000000
Ankitjha,7,2022-07-31 16:38:03.750000128,2022-07-31 00:34:00.249999872
Anurag Tiwari,7,2022-07-31 13:15:51.783783680,2022-07-31 00:04:30.378378240
Aravind,7,2022-07-31 15:45:19.500000000,2022-07-31 02:25:47.700000000
Ayushi Mishra,7,2022-07-31 15:19:23.777777664,2022-07-31 02:07:04.333333504
Bharath,7,2022-07-31 09:04:20.444444416,2022-07-31 05:20:30.666666752
Boktiar Ahmed Bappy,7,2022-07-31 18:04:15.470588160,2022-07-31 02:22:07.470588160
Chaitra K Hiremath,7,2022-07-31 15:09:33.692307712,2022-07-31 02:38:25.538461440
Deepranjan Gupta,7,2022-07-31 17:49:40.517241344,2022-07-31 01:49:56.396551680
Dibyanshu,7,2022-07-31 13:06:46.562500096,2022-07-31 00:15:10.312499968
Harikrishnan Shaji,7,2022-07-31 12:42:49.608695552,2022-07-31 02:20:07.521739008
Hrisikesh Neogi,7,2022-07-31 13:31:01.027026944,2022-07-31 01:33:21.270270464
Hyder Abbas,7,2022-07-31 17:56:10.000000000,2022-07-31 00:11:38.500000000
Ineuron Intelligence,7,2022-07-31 12:50:54.000000000,2022-07-31 01:26:55.000000000
Ishawant Kumar,7,2022-07-31 16:03:48.653061376,2022-07-31 01:03:24.163265536
Jawala Prakash,7,2022-07-31 16:46:06.312499968,2022-07-31 02:54:00.500000000
Jaydeep Dixit,7,2022-07-31 17:09:21.000000000,2022-07-31 03:34:03.200000000